$color-white: white;
$color-green: #1c6cf0;
$color-blue: #1c6cf0;
$color-navy: #1d1b2f;

@import url('https://fonts.googleapis.com/css?family=Lato');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
.sticky-wrap {
  z-index: 1;
  position: relative;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem;
  transition: 0.2s ease all;
  width: 100%;
  
  
   a {
     color: $color-white;
     text-decoration: none;
   }
   p {
  font-size: 1em;
  line-height: 114em;
  margin-bottom: 15px;
  color: #f01c1c;
}
  &__item {
    padding: 0 0.5rem;
  }

  &__sub-item {
    padding: 0.5rem;
    text-align: center;
  }
  &--primary,
  &--secondary {
    color: $color-white;
  }
  &--primary {
      background-color: $color-navy;
      padding: 1.3rem 3rem;
      position: fixed;
  }
  &--secondary {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0;
      margin: 0;
      background-color: #2d1692;
  }
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: initial;
    left: 20%;
    right: 20%;
    top: initial;
    list-style: none;

    &--secondary {
      margin: 0;
      padding: 0.7rem 0;
      bottom: 0;
      width: 100%;
      left: 0;
      position: relative;
      transition: padding 0.3s ease;
    }
  }
}
.nav-fixed {
  &--secondary {
    position: fixed;
    bottom: auto;
    background-color: #3627c2;
    .nav__items--secondary {
      padding: 1rem 0;
    }
  }
}
.navbar {
  overflow: hidden;
  background-color:Inherit; 
}

.navbar a {
  float: left;
  font-size: 20px;
  color: $color-white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: $color-white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(38, 59, 153);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 1;
  background-color: rgb(52, 104, 182);
  width: auto;
  z-index: 5;
}

.subnav-content a {
  float: left;
  color: $color-white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: $color-white;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
.Mainpage {
  background-color: rgb(80, 176, 255);
  color: white;
  &__content {
    display: block;
    justify-content: center;
    align-content: center;
    padding: 15rem;
    font-size: .9em;
    text-align: left;
    height: 100%;
    width: 100%;
    @media only screen and (max-width: 800px) {
      font-size: 1em;
      padding: 70% 10%;
    }
  }
}

.Secondpage {
  background-color: rgb(80, 176, 255);
  color: white;
  &__content {
    display: block;
    justify-content: center;
    align-content: center;
    padding: 15rem;
    font-size: .8em;
    text-align: left;
    height: 100%;
    width: 100%;
    @media only screen and (max-width: 800px) {
      font-size: 1em;
      padding: 70% 10%;
    }
  }
}

.content-wrap {
  position: relative;
  display: block;
  text-align: left;
  justify-content: center;
  align-items: center;
  min-height: 1000px;
  font-size: 2em;
  @media only screen and (max-width: 800px) {
    font-size: 2em;
  }
}

.img {
  padding: 5% 25%;
  @media only screen and (max-width: 800px) {
    padding: 5%;
  }
  
}

body {
  font-family: lato;
}